body {background-color: rgb(215, 215, 215);
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
}

ul {list-style-type: none;}

a {color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none;
    background-color:darkgray;
}
a:visited {color: black;}
a:hover{color: rgb(0, 78, 151);}

#board  {
        width: 400px;
        height: 600px;
        margin: 0 auto;
        margin-top: 10%;
    }

input   {
        width: 100%;
        margin-top: 5px;
    }

#user_remember_me {
    width: auto;
}

.actions  {
    width: 60%;
}

td {border-bottom: 2px solid darkgray;
width:150px;}

h1 {margin-left: 50px;}