<link href="/valeragame/menu.css" rel="stylesheet" type="text/css" />
<h1>Load</h1>


  <table>
  <tbody>
    <% @saves_list.each do |save| %>
    <tr>
      <td align="center" colspan="3">
        <%= save.name %>
      </td>
      <td align="center" colspan="3" nowrap>
        <%= link_to "Load game", safe_path(save.id)%>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <%= link_to "Back", root_path %>

